/*Reset and Body basics*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/*Header and Course Title*/
header {
    text-align: center;
    padding: 1rem 2rem;
    background: #222;
    color: #fff;
}

#course-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/*Navigation Menu with flexbox*/

nav {
    background: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
    display: block;
    padding: 0.75rem 1.25rem;
    min-height: 44px;
}

nav ul li a:hover,
nav ul li a :focus {
    background-color: #00bcd4;
    color: #fff;
    border-radius: 4px;
}

/* Main Layout and Card */

main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    padding: 2rem;
    color: #0f1111;
}
 
/* Card Styling*/
.card {
    background: #a7b5db;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}

/*Aside*/
aside{
    background: #26a5bb;
    padding: 3.5rem;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Footer*/
footer {
    background: #222;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

