


/*Media query for larger screens*/
@media (min-width: 768px){
    /*Hides hamburger button on larger screens*/
    #menu-button{
        display: none;
    }


/*Displays navigation horizontally*/
.navigation, .navigation.open{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    gap: 2rem;
}

.navigation ul{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    gap: 2rem;
}

/*Displays temple images in multiple columns*/
.container{
    grid-template-columns: repeat(3,1fr);
}
}